<app-menu></app-menu>
<div class="container">
<p class="center animated fadeIn"><b>Nota importante:</b> para alquilar un auto, necesitas una cuenta.</p>
<h5 class="center animated fadeIn"><b>Autos disponibles</b></h5>
                <mat-tab-group mat-align-tabs="center" class="center animated fadeInUp">
                        <mat-tab label="Opción #1"> 
                            <h5>2016 Honda CR-V EX</h5>
                            <h6>$14.00 x día</h6>
                        <img src="../../assets/img/crv.jpg" class="opciones" alt="">
                        </mat-tab>
                        <mat-tab label="Opción #2">
                                <h5>Hyundai Accent</h5>
                                <h6>$7.00 x día</h6>
                            <img src="../../assets/img/acc.png" class="opciones" alt="">
                        </mat-tab>
                        <mat-tab label="Opción #3">
                            <h5>Hilux 4WD Double Cab SR5 Cruiser Ute</h5>
                            <h6>$25 x día</h6>
                                <img src="../../assets/img/hi.png" class="opciones" alt="">
                        </mat-tab>
                      </mat-tab-group>
                    </div>